extend header 
block content       
  .container.mt-3
    .row.mt-2 
        .col-md-12 
         ul.nav.nav-tabs
            li.nav-item
              a.nav-link.active(href='#Tournament') Tournament
            li.nav-item
              a.nav-link(href='#Matches') Matches
            li.nav-item
              a.nav-link(href='#Pointtable') Point Table
              
    .tab-content
        #Tournament.container.tan-pane.fade.show.active
          table.table
            thead
              tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Game
                th(scope='col') Date
                th(scope='col') Time 
                th(scope='col') Mode  
                th(scope='col') Venue   
            tbody
              for tournament in tournaments  
                tr
                  th(scope='row') #{tournament.id}
                  td #{tournament.name}
                  td #{tournament.gameName}
                  td #{tournament.date}
                  td #{tournament.time}
                  td #{tournament.status}
                  td #{tournament.venue}
        
        #Matches.container.tab-pane.fade
          h3 Menu 1
          p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        #Pointtable.container.tab-pane.fade
          .row
          .col-sm-6
            .form-group
              label.control-label.requiredField(for='propertyType') Select Game
                span.asteriskField *
              .col-xs-12

              
                select#propertyType.select.form-control.input-lg(form='addProperty', name='propertyType')
                
                  option(value='0') --Select --
                  for game in games
                    option(value=game.id) #{game.name}
            .form-group
              button.btn.btn-primary.fw(type='submit') Update
                  
                    
                           
          for tr in tournamentLeaderboard
            .row.p-2
              h3 #{tr.name}
              if tr.leaderBoard.length > 0
                table.table
                  thead
                    tr
                      th(scope='col') #
                      th(scope='col') Team Name
                      th(scope='col') Points
                  tbody
                    for ld in tr.leaderBoard
                      tr
                        th(scope='row') #{ld.id}
                        td #{ld.teamName}
                        td #{ld.point}
              else 
                p No tournament found 
                
        
  script.
    $(document).ready(function(){
    $(".nav-tabs a").click(function(){
    $(this).tab('show');
      });
      });     
      
    

